# root
.DS_Store
.vscode/**
terraform.log
crash.log
memo.txt

# Local .terraform directories
**/.terraform/*
**/.terraform.d/*

# .tfstate files
*.tfstate
*.tfstate.*

# terraform customize file.
main_init.tf
provider.json
*.tfvars
!terraform.example.tfvars
# !terraform.dev.tfvars
# !terraform.qa.tfvars
# !terraform.stg.tfvars
# !terraform.prd.tfvars
# !terraform.root.tfvars
# !terraform.audit.tfvars
*.tfbackend
!terraform.example.tfbackend
# !terraform.dev.tfbackend
# !terraform.qa.tfbackend
# !terraform.stg.tfbackend
# !terraform.prd.tfbackend
# !terraform.root.tfbackend
# !terraform.audit.tfbackend

# env
devcontainer.json
.devcontainer/**
.env
.gitconfig
env/common/.aws
env/common/.ssh
!env/example/**
